<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'user/users/user'  %>
<% else %>
	<h3>Posts search for "<%= @content %>"</h3>
  <%= render 'user/posts/post' %>
<% end %>