<div class="container">
  <p id ="notice"></p>
  
  <div class="col-sm-2 text-dark bg-light text-center mb-4 ml-5"><h4>mypage</h4></div>
  
  <div class="row my-3">
    <div class="row">
      <h4>infomation</h4>
      <div class="col-sm-1"></div>
      <%= link_to "edit", user_information_edit_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">NAME</div>
    <div class="col-6 col-sm-6 border py-2"><%= @user.name %></div>
    
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">Email</div>
    <div class="col-6 col-sm-6 border py-2"><%= @user.email %></div>
    
    <div class="w-100"></div>
    <div class="col-6 col-sm-4 bg-light border py-2">TEL</div>
    <div class="col-6 col-sm-6 border py-2"><%= @user.telephone_number %></div>
  </div>
</div>