
<div class="container">
  <p id ="notice"></p>
    <h4 class="text-dark bg-light w-25 text-center mb-y">ユーザ一覧</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ユーザID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email  %></td>
          <!--アカウントの状態表示-->
          <td><% if user.is_deleted == false %>
              有効
              <% else %>
              削除
              <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
      
    </table>
    
</div>
